body {
    border: 2px solid green;
    background-color: white;
    font-family: arial, sans-serif;
    }

body li {
    list-style: none;
}

body ul {
    padding: 0;
}

nav ul {
    display: flex;
    flex-flow: row;
}

header {
    margin-top: 0px;
    margin-bottom: -30px;
}

.container {
    margin-bottom: -84px;
    width: 100%;
    border: 2px solid red;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 82vh;
}

.container .logo {
    width: 272px;
    height: 92px;
}

.form {
    border: 1px solid #D7D7D7 ;
    width: 50%;
    height: 44px;
}

.form img {
    height: 23px;
    vertical-align: middle;
}

.form input {
    padding-right: -30px; /* button padding */
    width: 90%;
    height: 90%;
    border: 0px solid white;
    font-size: 1.2em;
}

input:focus {
    outline: none;
}

footer {
    background-color: rgba(239,239,239,1);
    width: 100%;
}

.footer-top
{
    border: 1px solid rgba(221,221,221,1);
}

.footer-bottom {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
}

.footer-bottom, .droite {

    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.footer-bottom, .gauche {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
