


.form {
    border: 1px solid #000;
    display: inline-block;
    position: relative;
}

img {
    position: absolute;
    right: 0;
    top: 0;
}

input {
    padding-right: 30px; /* button padding */
}

input, img {
    background-color: transparent;
    border: 0;
}
