body {
    background-color: white;
    font-family: arial, sans-serif;
}

body li {
    list-style: none;
}

body ul {
    padding: 0;
}

nav ul {
    display: flex;
    flex-flow: row;
}

.container {
    width: 100%;
    border: 2px solid red;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container .logo {
  width: 272px;
  height: 92px;
}

.form {
    border: 1px solid #D7D7D7 ;
    position: relative;
    width: 50%;
    height: 44px;

}

.form img {
    position: relative;
    right: 0;
    top: auto;
    width: auto;
    height: 23px;

}

.form input {
    padding-right: 30px; /* button padding */
}

.form input, .form img {
    background-color: transparent;
    border: 0;
}

.footer-bottom {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: grey;

}

.footer-bottom, .droite {

    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.footer-bottom, .gauche {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
